*{
    @import url('https://fonts.googleapis.com/css?family=Roboto');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
/*** Header ***/


#header-nav {
    background-color: #b9a5a5;
    text-align: center;
    border: 0;
    border-radius: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 6px;
}

.navbar .navbar-nav li a {
    color: #4d4d4d;
	text-decoration: none;
}

.navbar .navbar-nav li a:visited {
    color: #800080;
}

.navbar .navbar-nav li a:hover {
    color: blue;
    text-decoration: underline;
}
/**** End Header ****/
#main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2e353d;
}
 
#main-content div {
    margin-top: 10px;
    margin-bottom: 10px;
 }

#main-content a:visited {
    color: #800080;
}

#main-content a:hover {
    color: blue;  
    text-decoration: underline;
}

#main-content img {
    display: block;
}


main:after {
    display: block;
    content:  '';
    clear: both;
}


main article {
    background: white;
    padding: 30px;
}

main article p {
    margin-bottom: 31px;
}

#main-content nav ul li {
    display: inline-block;
    margin-right: 10px;
}

main article button {
    margin-top: 15px;
}

main article .quess button {
    background: #4d5d72;
    height: 50px;
    width: 200px;
    font-size: 24px;
    text-align: center;
    color: white;
}

main article .ques {
    margin-top: 10px; 
}

main article .ques button {
    background: #4d5d72;
    height: 50px;
    width: 175px;
    font-size: 24px;
    text-align: center;
    color: white;
} 

main article .ques1 button {
    background: #4d5d72;
    height: 50px;
    width: 175px;
    font-size: 24px;
    text-align: center;
    color: white;
} 
 
main article div input {
    margin-top: 10px;
    font-size: 24px;
    height: 35px;
    width: 180px;
}

main article .ques1 #q1-status {
    margin-top: 10px;
} 
/**** Footer ****/
footer {
    padding: 20px 0;
    text-align: center;
    background-color: #82878b;
    width: 100%;
    color: #a4a4a4;
    font-size: 20px;
}

footer a {
    color: #f8f7f7;
    text-decoration: none;
}

footer a:visited {
    color: #800080;
}

footer a:hover {
    text-decoration: underline;
    color: blue; 
}
/**** End Footer ****/

/*** Extra small device ***/
@media (max-width: 767px) {
   
    } 
}