* {
    @import url("https://fonts.googleapis.com/css?family=Roboto");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #efefef;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
/**** Header ****/
#header-nav {
    border-bottom: 1px solid white;
    border-radius: 0;
    background-color: #d1d1d1;
    text-align: center;
}

.navbar-header button.navbar-toggle {
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 6px;
}

.navbar .navbar-nav li a {
    height: 50px;
    color: #4d4d4d;
    vertical-align: middle;
    text-decoration: none;
}

.navbar .navbar-nav li a:visited {
    color: #800080;
}

.navbar .navbar-nav li a:hover {
    color: blue;
    text-decoration: underline;
}

.navbar .navbar-nav hr {
    margin: 0;
}
/**** End Header ****/
/**** Main content ****/
#main-content h1 {
    margin: 10px 0 20px 0;
    color: #2e353d;
    font-size: 2em;
}

#main-content div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-content a:visited {
    color: #800080;
}

#main-content>div {
    margin-bottom: 60px;
}

#main-content>div:nth-child(3) {
    padding: 15px;
    background: white;
}

#main-content p {
    margin-bottom: 25px;
    text-align: justify;
}

#main-content nav ul {
    padding-left: 0;
}

#main-content nav ul li {
    display: inline-block;
    margin-right: 10px;
}

#main-content button {
    display: block;
    margin: 15px auto;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background: #4d5d72;
    color: white;
    text-align: center;
    font-size: 24px;
}

#main-content div.ques {
    margin-top: 10px;
}

#main-content p.ques {
    margin-bottom: 15px;
}

#main-content div input {
    display: block;
    margin: auto;
    width: 200px;
    height: 35px;
    border: 2px solid gray;
    font-size: 1.2em;
    border-radius: 35px;
    padding-left: 10px;
}

#main-content p.text {
    display: table;
    margin: auto;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
}

@keyframes background_red {
    50% {
        background: #b22f18;
        box-shadow: 0 0 10px 4px #b22f18;
    }
}

@keyframes background_green {
    50% {
        background: #d9ce41;
        box-shadow: 0 0 10px 4px #d9ce41;
    }
}

.scroll-button {
    position: fixed;
    bottom: -20px;
    left: 0;
    display: none;
    width: 65px;
    height: 10000px;
    background: #259ff8;
    opacity: 0.1;
}

.scroll-button:hover {
    opacity: 0.35;
}

.scroll-span {
    position: fixed;
    top: 10px;
    left: 15px;
    color: white;
    font-size: 1.5em;
}
/**** End Main content ****/
/**** Footer ****/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    width: 100%;
    background-color: #82878b;
    color: #dddbdb;
    text-align: center;
}

footer a {
    color: #fffefe;
    text-decoration: none;
}

footer a:visited {
    color: #800080;
}
/**** End Footer ****/
/*** Extra small device ***/
@media (max-width: 767px) {
    /* display:inline-block используется, чтобы расположить ссылки по горизонтали при больших размерах экрана. display:block используется, чтобы расположить ссылки в вертикали при xs размере */
    .navbar .navbar-nav {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar .navbar-nav li a {
        line-height: 30px;
    }
    .navbar .navbar-nav li a:visited {
        color: #4d4d4d;
    }
    .navbar .navbar-nav li:hover {
        background: #e8e8e8;
    }
    .navbar .navbar-nav li a:hover {
        color: #4d4d4d;
        text-decoration: none;
    }
    #main-content>div:nth-child(3) {
        margin-bottom: 60px;
    }
    #main-content>div {
        margin-bottom: 10px;
    }
    #main-content div ul li {
        display: block;
        margin: 5px 0 5px 0;
        text-align: center;
    }
    .active-xs {
        /* Класс для выделения текущего сайта в меню при размере xs */
        background-color: #e8e8e8;
    }
}
/**** Large device ****/
@media (min-width: 1200px) {
    #main-content .ques {
        text-align: center;
    }
}